name: snapcraft

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      snap-file: ${{ steps.build.outputs.snap }}
    steps:
    - uses: actions/checkout@v3
    - uses: snapcore/action-build@v1
      id: build
    - name: rename
      run: mv ${{ steps.snapcraft.outputs.snap }} artifact.snap
    - uses: actions/upload-artifact@v3
      with:
        name: snap
        path: ${{ steps.build.outputs.snap }}

  push-master:
    needs: build
    runs-on: ubuntu-20.04
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: snap
          path: .
      - uses: snapcore/action-publish@v1
        env:
          SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAP_LOGIN }}
        with:
          snap: ${{needs.build.outputs.snap-file}}
          release: candidate
  push-beta:
    needs: build
    runs-on: ubuntu-20.04
    if: github.ref == 'refs/heads/beta'
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: snap
          path: .
      - uses: snapcore/action-publish@v1
        env:
          SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAP_LOGIN }}
        with:
          snap: ${{needs.build.outputs.snap-file}}
          release: beta